# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include<bits/stdc++.h>
using namespace std;
struct Node{
int data;
struct Node*left;
struct Node*right;

Node(int val)
{
    data=val;
left=NULL;
right=NULL;
}
};
void inorder(Node* root)
{
    if(!root)return;
    inorder(root->left);
    cout<<root->data<<endl;
    inorder(root->right);
}
int main()
{

Node*root=new Node(14);
root->left=new Node(10);
root->right=new Node(15);

inorder(root);

}
